# Python / Poetry
__pycache__/
*.pyc
.venv/

# dbt
dbt/logs/
dbt/target/
dbt/dbt_packages/
dbt/**/*.log

# dlt
.dlt/secrets.toml

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Environment files & keys
.env
.env.*
*.key.json
*.json.enc
.keys/

# macOS
.DS_Store
