# Python / Poetry
__pycache__/
*.pyc
.venv/

# dbt
dbt/target/
dbt/dbt_packages/

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Environment files
.env
.env.*
*.key.json
*.json.enc

# macOS
.DS_Store
