name: Build & Publish dbt Docs

on:
  push:
    branches:
      - main
    paths:
      - "dbt/dog_breed_explorer/**"
      - ".github/workflows/dbt_docs.yml"

jobs:
  dbt-docs:
    runs-on: ubuntu-latest

    env:
        DBT_GCP_PROJECT: dummy_project
        DATASET: dummy_dataset

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Install dependencies
        run: poetry install

      - name: Create dummy credentials
        run: |
          mkdir -p /tmp
          echo '{"type":"service_account","project_id":"dummy_project","private_key_id":"dummy","private_key":"-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDU\n-----END PRIVATE KEY-----\n","client_email":"dummy@dummy_project.iam.gserviceaccount.com","client_id":"12345","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token"}' > /tmp/dummy.json

      - name: Install dbt packages
        working-directory: ./dbt/dog_breed_explorer
        run: poetry run dbt deps

      - name: Generate dbt docs
        working-directory: ./dbt/dog_breed_explorer
        run: poetry run dbt docs generate

      - name: Publish dbt docs to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dbt/dog_breed_explorer/target
          publish_branch: gh-pages
