name: Build & Publish dbt Docs

on:
  push:
    branches:
      - main
    paths:
      - "dbt/**"
      - ".github/workflows/dbt_docs.yml"

jobs:
  dbt-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Install dependencies
        run: |
          poetry install

      # Needed for BigQuery profile, but dbt docs generation does NOT require a real connection.
      - name: Create temp profiles.yml
        run: |
          mkdir -p ~/.dbt/
          cat <<EOF > ~/.dbt/profiles.yml
          dog_breed_explorer:
            target: docs
            outputs:
              docs:
                type: bigquery
                method: oauth
                project: "dummy"
                dataset: "dummy"
                threads: 1
                location: "EU"
          EOF

      - name: Generate dbt docs
        run: |
          poetry run dbt deps --profiles-dir .
          poetry run dbt docs generate --profiles-dir .

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dbt/target
          publish_branch: gh-pages
